{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "react/jsx-wrap-multilines": "off",
    "operator-linebreak": "off",
    "no-param-reassign": "off",
    "react/jsx-one-expression-per-line": "off",
    "linebreak-style": "off",
    "import/no-extraneous-dependencies" : "off"
  }
}
