{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "react/jsx-wrap-multilines": "off",
    "operator-linebreak": "off",
    "react/jsx-one-expression-per-line": "off",
    "linebreak-style": ["error", "windows"]
  }
}
